
/* Generales */

*{
    margin:0;
    padding:0;
}

body{
    width: 100%;
}

main{
    width: auto;
    height: auto;
    padding: 30px;
    text-align: center;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

a:hover{
    color: white;
}

ul{
    list-style: none;
}

h1{    
    font-size: 28px;
    padding: 10px;
    color:#4b4b4b;
}

h1,h2,h3,h4,h5, p, a{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#4b4b4b;
}

.boton{
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #ff8f95;
    transition: all .35s ease-in-out;
    color: white;
}

.boton:hover{
    cursor: pointer;
    background-color: #e2565d;
    scale: 1.1;
}

/* Header */

 .encabezado{
    width: auto;
    height: auto;
    background: #95C5EF;
    padding: 12px;
    display: flex;
    align-items: center;
}

.encabezado__logo{
    width: 25%;
    display: flex;
    justify-content: center;
}

.encabezado__logo a{
    font-size: 40px;
    color: rgb(255, 255, 255);
    transition: all .35s ease-in-out;
}

.encabezado__logo a:hover{
    color: #ff8f95;
}

.encabezado__menu{
    width: 75%;
}

.menu__item a{
    font-size: 22px;
    font-weight: 500; 
    color: #fff;
}

.menu__item a:hover{
    color: white;
}

.menu__item::before{
    content:"";
    position: relative;
    display: block;
    top: 50px;
    height: 3px;
    border-radius: 5px;
    background-color:#ff8f9500;
    transition: all .2s ease-in-out;
}

.menu__item:hover::before{
    top: 44px;
    background-color:#ffffff;
    width: 100%;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar-dark .navbar-toggler{
    color:rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    left: 80%;
}

.navbar-dark .navbar-nav .nav-link{
    color:rgb(255, 255, 255);
}


/* Index */

.fondoIndex{
    height: auto;
    padding-top: 40px;
    background-image: url(../images/fondo-nube.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondoIndex__container{
    height: 100%;
    padding: 20px 40px;
}

.fondoIndex__container h1{
    font-size: 36px;
    margin-bottom: 20px;
}

.fondoIndex__container h2{
    font-size: 30px;
    margin-bottom: 50px;
}

.fondoIndex__container p{
    font-size: 20px;
    line-height: 50px;
}

.fondoIndex__container a{
    display: inline-block;
    font-size: 20px;
    margin-top: 70px;
    padding: 15px 80px;
}

/* Especialidades*/

.especialidades{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;   
    grid-template-areas: "e1" "e2" "e3"
                         "e4" "e5" "e6";
    justify-content: space-evenly;  
}
   

.especialidad{
    margin: 0 20px 30px 20px;
    align-items: center;
    transition: all .35s ease;
    border: none;
}

.especialidad:hover{
    scale: 1.1;
}

.especialidad img{
    max-width:400px;
    height: 250px;
    border-radius: 10px;
}

.especialidad h3{
    font-size: 24px;
    margin: 20px 0; 
    color: #84afd4;
}

.especialidad p{
    color:rgb(83, 83, 83);
    font-size: 16px;
    line-height: 24px;
    margin: 0 40px;
}

.especialidad button{
    margin: 20px 0;
}

/* Formulario */

.contacta{
    padding: 10px 0;
    color: #84afd4;
}


.tipo{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tipo label,
.tipo input,
.tipo textarea{
    margin-bottom: 20px;
}

.tipo label{
    font-size: 18px;
    text-align: left;
    color: #4b4b4b;
}

.tipo input,
.tipo textarea{
    height: 25px;
    border-radius: 5px;
    border: 2px solid #95c5ef94;
    background: #84afd415;
    transition: all .1s linear;
}

.tipo input:focus,
.tipo textarea:focus{
    transform: scaleY(1.15);
}

.tipo textarea{
    min-height: 80px;
    max-width: 100%;
    min-width: 100%;
}

.form input[type="submit"]{
    font-size: 20px;
    margin: 40px auto 0 auto;
    padding: 15px 60px;
}

/* Blog */

.tituloBlog{
    margin-bottom: 30px;
}

.containerBlog .row{
    margin-bottom: 30px;
}

.containerBlog__hijo img{
    width: 380px;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Sobre mi */

.sobreMi img{
    max-width: 500px;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 20px;
}


.iconito{
    margin: 0 auto;
    width: 90%;
    height: 5px;
    border-radius: 4px;
    background-color: #ff8f95;
    animation-duration: 5s;
    animation-name: estirar;
    animation-iteration-count: infinite;
}

.curriculum{
    margin: 0 50px;
}

.curriculum h2{
    margin-bottom: 40px;
}

.curriculum article{
    margin-top: 20px;
}

.curriculum article p{
    text-align: left;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
}

.mapa{
    margin: 40px 60px;
}

.mapa iframe{
    width: 100%;
    border-radius: 10px;
    height: 300px;
}

/* Footer */

footer{
    height: auto;
    background: rgba(0, 0, 0, 0.842);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

footer div{
    margin: 15px;
}

footer div p{
    font-size: 20px;
    color: white;
}

.redes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;
    align-items: center;
    justify-items: center;
    row-gap: 15px;
    font-size: 50px;
}

.redes li{
    margin: 0 20px;
    transition: all .35s ease-in-out;
}

/* .redes li:hover{
    rotate: 180deg;
} */

.twit{
    color:rgb(29, 155, 240, 0.788);
    transition: color .35s ease-in-out;
}

.twit:hover{
    color:rgb(29, 156, 240);
}

.face{
    color:rgb(20, 112, 173, 0.788);
    transition: color .35s ease-in-out;
}

.face:hover{
    color:rgb(20, 112, 173);
}

.insta{
    color:rgba(240, 29, 152, 0.788);
    transition: color .35s ease-in-out;
}

.insta:hover{
    color:rgb(240, 29, 152);
}

.ytube{
    color:rgba(240, 29, 29, 0.788);
    transition: color .35s ease-in-out;
}

.ytube:hover{
    color:rgb(240, 29, 29);
}

/* Medias query */


@media only screen and (min-width: 768px){
    /* Especialidades */
    .especialidades{
        margin: 30px 30px 0 30px;
        grid-template-columns: 1fr 1fr;   
        grid-template-areas: "e1 e2"
                             "e3 e4"
                             "e5 e6";
    }
    .especialidad p{
        margin: 0;
    }
    

    .sobreMi p{
        margin-left: 50px;
    }
   

    /* Footer */
    footer{
        flex-direction: row;
    }

    .redes{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px;
        font-size: 40px;
    }

}

@media only screen and ( min-width: 1024px){

    /* Especialidades */
    .especialidades{
        margin: 30px 30px 0 30px;
        grid-template-columns: 1fr 1fr 1fr;   
        grid-template-areas: "e1 e2 e3"
                             "e4 e5 e6";
    }

    .curriculum{
        margin: 0 100px;
    }   

    /* Footer */

    footer div{
        margin: 10px;
    }

    .redes li{
        margin: 20px;
    }
}

/* Animaciones */

@keyframes estirar{
    5%{
        width: 90%;
    }

    45%{
        width: 0%;
    }

    55%{
        width: 0%;
    }

    95%{
        width: 90%
    }
}






