.contacta{
    padding: 20px 0;
    color: $colorPrincipal;
    margin-bottom: 30px;
}


.tipo{
    display: flex;
    flex-direction: column;

    label,input,textarea{
        margin-bottom: 30px;
    }

    label{
        font-size: 18px;
        text-align: left;
        color: $colorTexto;
    }

    input,textarea{
        height: 25px;
        border-radius: 5px;
        border: 2px solid $principalHover;
        background: #84afd438;
        transition: all .1s linear;

        &:focus{
            transform: scaleY(1.25);
            background-color: $colorBlanco;
        }
    }

    textarea{
        min-height: 80px;
        max-width: 100%;
        min-width: 100%;
    }
}

.formu{
    input[type='submit']{
        @extend .boton;
        width: 200px;
        margin-bottom: 20px;
    }
}




