.fondoIndex {
  padding-top: 40px;
  background-image: url(../images/relax.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 

  .fondoIndex__container {
      height: 100%;
      padding: 20px 40px; 
      
      h1 {
        margin-bottom: 20px;
        color: $colorTituloPrincipal;
        text-shadow: .5px .1px 1px black;         
      }
      
      h2 {
        font-size: 30px;
        margin-bottom: 50px; 
        color: $colorTituloPrincipal;
        text-shadow: .5px .1px 1px black;}

      p {
        margin-top: 120px;
        font-size: 20px;
        line-height: 50px;
        color: white;
        text-shadow: 1px .5px 5px black;
       }
      
      a {
        display: inline-block;
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 40px;
        padding: 15px 80px; }
  }
}
  
  